<header>
	<div class="header">
		<a href="index"><img src="/assets/images/logo.png" alt="logo" />
			<h1>Gnome Fitness</h1>
		</a>
		<ul>
			<li><a href="/newConnection">Create a meetup</a></li>
			<li><span class="sep">|</span></li>
			<li>Log In</li>
			<li><span class="sep">|</span></li>
			<li>Sign Up</li>
		</ul>
	</div>
</header>