<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">
		<img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Gnome Fitness
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
		aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="connections">Connections</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contact">Contact</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<% if(typeof user != 'undefined'){ %>
			<li class="nav-link disabled">Welcome, <%= user.firstName %></li>
			<li>
				<a href="/newConnection" class="nav-link">Create a meetup</a>
			</li>
			<li>
				<a href="/savedConnections" class="nav-link">My Connections</a>
			</li>
			<li>
				<a href="/logout" class="nav-link">Logout</a>
			</li>
			<% } else {%>
			<li>
				<a href="/login" class="nav-link">Login</a>
			</li>
			<li>
				<a href="/signup" class="nav-link">Sign up</a>
			</li>
			<%}%>
		  </ul>
		  
		</div>
</nav>

<!-- <div id="nav">
		<ul>
			<li><a href="index">Home</a></li>
			<li><a href="connections">Connections</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
			<% if(typeof user != 'undefined'){ %>
			<li class="user">Welcome, <%= user.firstName %></li>
			<% } %>
		</ul>
	</div> -->