<!doctype html>
<html lang="EN">

<% include partials/head.ejs %>

<body>
	<% include partials/navigation.ejs %>
	<main>
		<% categories.forEach(function(cat){ %>
			<h2 class="connections white"><%= cat %></h2>
			<div class="connections flexbox">
				<% events.forEach(function(item){ %>
					<% if(item.category == cat){ %>
						<% var link = "connection" + "?id=" + item.id %>
						<div class="card mr-3 mb-3 ml-3 flex">
							<div class="card-body">
								<a href="<%=link%>"><h5 class="card-title"><%=item.name%></h5></a>
								<p class="card-text"><%=item.details%></p>
							</div>
						</div>
						<% } %>
				<%	}) %>
			</div>
		<% }) %>
		<br>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>