<!doctype html>
<html lang="EN">

	<% include partials/head.ejs %>

<body>
	<% include partials/navigation.ejs %>
	<main>
		<div class="content">
			<h3>Contact</h3>
		<p>Timothy McCrickard 801027829 tmccrick@uncc.edu</p>
	</div class="content">
	</main>

	<% include partials/footer.ejs %>

</body>

</html>