<!doctype html>
<html lang="EN">

<head>
	<title>Gnome Fitness - Contact</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="/assets/stylesheets/styles.css">
</head>

<body>
	<% include partials/header.ejs %>
	<% include partials/navigation.ejs %>
	<main>
		<h3>Contact</h3>
		<p>Timothy McCrickard 801027829 tmccrick@uncc.edu</p>

	</main>

	<% include partials/footer.ejs %>

</body>

</html>