<!doctype html>
<html lang="EN">

<% include partials/head.ejs %>

<body>
	<% include partials/navigation.ejs %>
	<main>
		<div class="content">
			<h3>Gnome Fitness Connections</h3>
			<p>Welcome to the gnome fitness site, Do you look like a gnome? Well if so you can attend some of our free
				community organized fitness events and get shredded in gnome time</p>
		</div>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>