body{
    font-size: 18px;
    background-color: #3b3b3b !important;
}

.body p {
    display: inline;
    padding: 14px 10px;
}

p {
    padding: 5px;
}

h2 {
    padding: 5px;
}

.content {
    max-width: 1080px;
    margin: auto;
    color: #ffffff !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #292929;
    color: #ffffff;
    text-align: center;
    height: 5%;
}

main table tr td ul li a {
    border: 1px #ff0000;
    color: #ffffff;
    text-decoration: none;
    border-spacing: 1px;
    display: inline;
    list-style-type: none;
}

table, th, td {
    border: 1px solid #ffffff;
    align-self: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 60%;
}
main {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}
.profile {
    width: 50px;
    height: 50px;
}
.center {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.zero{
    margin: 0;
    padding: 0;
    display: inline;
}
.connections{
    width: 60%; 
    margin-left: 20% !important;
}
.white {
    color: white;
}
.card {
    color: black;
}
.card a {
    color: cadetblue;
}