body {
    font-size: 18px;
    background-color: #3b3b3b;
    color: #ffffff;
}

header a:link {
    color: #ffffff;
    text-decoration: none;
}

header a:visited {
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;
    text-decoration: none;
}

header a:active {
    color: #ffffff;
    text-decoration: none;
}

header ul {
    display: inline;
    position: absolute;
    top: 10px;
    right: 20px;
    border-spacing: 3px;
}

header li {
    display: inline;
}

.sep {
    color: #b6b6b6;
    font-size: 110%;
}

.body p {
    display: inline;
    padding: 14px 10px;
}

p {
    padding: 5px;
}

h2 {
    padding: 5px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6e6767;
}

#nav li {
    float: left;
    border-right: 1px solid #bbbbbb;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111111;
}

.active {
    background-color: #008dce;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.content {
    max-width: 1080px;
    margin: auto;
    background: #241f1f;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #292929;
    color: #ffffff;
    text-align: center;
    height: 5%;
}

main table tr td ul li a {
    border: 1px #ff0000;
    color: #ffffff;
    text-decoration: none;
    border-spacing: 1px;
    display: inline;
    list-style-type: none;
}

table, th, td {
    border: 1px solid #ffffff;
    align-self: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 60%;
}
main {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

ul li a{
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.profile {
    width: 50px;
    height: 50px;
}
.center {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}